.custom-prev-button {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.custom-prev-button:hover,
.custom-prev-button:focus,
.custom-prev-button:not(:disabled).custom-prev-button-active,
.custom-prev-button:not(:disabled):active {
    background-color: #0056b3;
    border-color: #004a99;
    color: #fff;
}
